
{% extends "base.html" %}

{% load static %}

 {% block title%}
     {{ thread_info.data.name }}
 {% endblock %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/dialog.css" %}">
{% endblock %}




{% block main-content %}
    <a href="{% url 'index' %}">На главную </a>
    <script src="{% static "js/main.js" %}" defer>

    </script>
    <div class="p-2">
        {% if thread_info.data.media.url != '' %}
        {% if thread_info.data.media_type == 'image'  %}
             <img src="{{ thread_info.data.media.url }}" alt="pic" width="100px" height="100px"/>
        {% elif thread_info.data.media_type == 'video' %}
            <video src="{{ thread_info.data.media.url }}" width="100px" height="100px" controls></video>
        {% else %}
            <p >Анон залил какой-то кал вместо пик или шебм</p>
        {% endif %}
    {% endif %}
    <p>{{ thread_info.data.text }}</p>
    </div>

    <div id="text_table">
        <form action="/{{ thread_info.unit }}/{{ thread_info.data.id }}/delete/" id="delete">
            <input type="hidden" name="id" value="1">
        </form>
            {% for post in thread %}
                <div id="m{{ post.id }}">
                    <div >id:{{ post.id }}
                        {{ post.date|date:"G:i:s n/j/Y D" }}
                        {% if post.id in request.session.comments %}
                            <button onclick="deleteComment({{ post.id }})" class="btn btn-outline-dark btn-sm">Удалить</button>
                            <button onclick="updateComment({{ post.id }})" class="btn btn-outline-dark btn-sm">Редактировать</button>
                        {% endif %}
                    </div>
                    {% if post.media.url != '' %}
                        {% if post.media_type == 'image'  %}
                            <img src="{{ post.media.url }}" alt="pic" width="100px" height="100px"/>
                        {% elif post.media_type == 'video' %}
                            <video src="{{ post.media.url }}" width="100px" height="100px" controls></video>
                        {% else %}
                            <p class="error">Анон залил какой-то кал вместо пик или шебм</p>
                        {% endif %}
                    {% endif %}
                   <p id="p{{ post.id }}">{{post.text}}</p>
                </div>
            {% endfor %}
    </div>

    <form action="/{{ thread_info.unit }}/{{ thread_info.data.id }}/create" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Send" >
    </form>
    <div id="csrf_token">
        {% csrf_token %}
    </div>

{% endblock %}




