<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ thread_info.data.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/dialog.css" %}">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
    <style>
        header li{
            display: inline;
        }
    </style>
</head>
<body>
<header>
    {% for unit in units %}
        <li><a href="/{{ unit.name }}">{{ unit.name }}</a></li>
    {% endfor %}
</header>
<a href="{% url 'index' %}">На главную </a>
<script defer src="{% static "js/main.js" %}">

</script>
    <p>{{ thread_info.data.text }}</p>
    {% if thread_info.data.media.url != '' %}
        {% if thread_info.data.media_type == 'image'  %}
             <img src="{{ thread_info.data.media.url }}" alt="pic" width="100px" height="100px"/>
        {% elif thread_info.data.media_type == 'video' %}
            <video src="{{ thread_info.data.media.url }}" width="100px" height="100px" controls></video>
        {% else %}
            <p class="error">Анон залил какой-то кал вместо пик или шебм</p>
        {% endif %}
    {% endif %}
    <div id="text_table">
        <form action="/{{ thread_info.unit }}/{{ thread_info.data.id }}/delete/" id="delete">
            <input type="hidden" name="id" value="1">
        </form>
            {% for post in thread %}
                <div class="message" id="m{{ post.id }}">
                    <div class="settings">id:{{ post.id }}
                        {{ post.date|date:"G:i:s n/j/Y D" }}
                        {% if post.id in request.session.comments %}
                            <button onclick="deleteComment({{ post.id }})">Удалить</button>
                            <button onclick="updateComment({{ post.id }})">Редактировать</button>
                        {% endif %}
                    </div>
                    {% if post.media.url != '' %}
                        {% if post.media_type == 'image'  %}
                            <img src="{{ post.media.url }}" alt="pic" width="100px" height="100px"/>
                        {% elif post.media_type == 'video' %}
                            <video src="{{ post.media.url }}" width="100px" height="100px" controls></video>
                        {% else %}
                            <p class="error">Анон залил какой-то кал вместо пик или шебм</p>
                        {% endif %}
                    {% endif %}
                   <p id="p{{ post.id }}" class="text">{{post.text}}</p>
                </div>
            {% endfor %}
    </div>

    <form action="/{{ thread_info.unit }}/{{ thread_info.data.id }}/create" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Send" >
    </form>
    <div id="csrf_token">
        {% csrf_token %}
    </div>
</body>
</html>