<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>1488chan</title>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
    <style>
        header li{
            display: inline;
        }
    </style>
</head>
<body>
<header>
        {% for unit in units %}
            <li><a href="/{{ unit.name }}">{{ unit.name }}</a></li>
    {% endfor %}
</header>
    {% for thread in threads %}
        <li><a href="{{ request.path }}/{{ thread.id }}">{{ thread.name }}</a></li>
    {% endfor %}
    <form action="{{ request.path }}/newthread" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Создать тред">
    </form>
</body>
</html>